@model DesafioDersenvUsuario.Models.UsuarioModel
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h2>Logar Usuario</h2>

<form method="post" >
        <fieldset>
          <legend>Logar no Usuario</legend>
          <div>
            <label for="Login">Login:</label>
            <input type="text" name="login" asp-for="Login" value="" />
          </div>
         <div>
            <label for="Senha">Senha:</label>
            <input type="password" name="senha" asp-for="Senha" value="" />
          </div>
          <input type="submit" value="Cadastrar Usuario"/>
        </fieldset>
      </form>